body {
  margin: 0rem;
}

.microsite {
  height: 100%;

  margin-left: 43rem;

  background-image: url("cover.jpg");
  background-size: cover;
  /* cover */
  /* background-position: 50% 90%; */
  /* cover1 */
  background-position: right 20%;
}

.header {
  margin-top: 1rem;

  display: flex;
  font-size: 2rem;

  color: hsl(16.22, 65%, 20%);
  /* font-family: "Kaushan Script", cursive; */
  font-family: "Montserrat", sans-serif;
  text-shadow: 5px 5px 15px black;
}

.main {
  margin-left: 1rem;
  margin-right: 10rem;

  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.footer {
  /* background-color: lawngreen; */
  margin-top: 0.5rem;
  margin-right: 4rem;

  display: flex;
  justify-content: flex-end;
  /*put our text on the righ end of the site */
  align-items: flex-end;
  flex-direction: column;
  /* put our content on right corner of the site */

  color: hsl(16.22, 65%, 10%);
  font-family: "Allura", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px hsl(16.22, 79.57%, 63.53%);
}

.link-wrapper {
  margin-right: 5rem;
  margin-top: 0.5rem;
  /* background-color: indigo; */
  display: flex;
  justify-content: center;
}

.logo {
  width: 2.5rem;
  opacity: 0.5;
}

.logo:hover {
  opacity: 1;
}
